/*body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
body{font:14px/1;}
table{border-collapse:collapse;border-spacing:0}
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
fieldset,img{border:0}
address,caption,cite,code,dfn,i,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
*/

*{-webkit-box-sizing:border-box;box-sizing:border-box;}
html{font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,hr{margin:0;padding:0}
body{overflow-x:hidden;background-color:#fff;color:#333;font-size:16px;font-size:1.6rem;line-height:1;font-family:"Arial","Verdana","PingFang SC","Lantinghei SC","Hiragino Sans GB","Microsoft YaHei","simsun",Lucida Grande,"Droid Sans","wenquanyi micro hei";}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
img{border:0;}
strong,b{font-weight:normal;}
i,em{font-style:normal;}
sub{vertical-align:text-bottom}
a{color:#333;text-decoration:none;}
.clearfix:after{display:block;content:"";visibility:hidden;clear:both;}
/*布局*/
.col-3{position:relative;float:left;width:33.3%;}
.col-5{position:relative;float:left;width:50%;}
@media(max-width: 767px){
	.col-3,.col-5{float:none;width:100%;}
}
/*三角*/
.caret-xs,.caret-sm{position:absolute;display:inline-block;width:0;height:0;border-style:solid;}
.caret-xs{border-width:8px;}
.caret-xs-l{border-color:transparent #fff transparent transparent;}
.caret-xs-r{border-color:transparent transparent transparent #09c;}
.caret-sm-b{border-width:12px;}
.caret-sm-b{border-color:#09c transparent transparent transparent;}
/*放大*/
.anim-scale{
	-webkit-transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
	-ms-transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
	transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.anim-scale:hover{
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
}
/*index*/
.logo{display:inline-block;vertical-align: middle;vertical-align: text-bottom;}

.header{min-height:300px;  
   background: #0cb1cf url(../img/banner.jpg) no-repeat top center;background-color:rgba(0,153,255,0.15);
   /*background-attachment:fixed;
   background-size: cover; 
   -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
  /* -o-background-size: cover;/* 兼容Opera*/ }

.header .banner{width:100%;height:100%;}
.header .nav-primary{position:relative;}
.wheader .nav-primary{ position:relative;z-index:2;width:100%;margin:0 auto;padding:4% 5%;display:inline-block;}
.header .nav-primary ,.wheader .nav-primary a{display:inline-block;margin:0 0 10px 0;color:#fff;font-size:14px;font-size:1.4rem;vertical-align:middle;}
.header .nav-primary a:hover,.wheader .nav-primary a:hover{color:#09c;}
.wheader .nav-primary strong{margin-right:5px;font-size:20px;font-size:2rem;font-family:"Candara";letter-spacing: -1px;word-spacing: 10px;}
.wheader.white .nav-primary a{color:#000;}
.wheader.white .nav-primary a:hover{color:#09c;}

.header.blue{background-color:#0cb1cf;}
.header.blue .banner{padding-bottom:0;}
/*.wheader.brown{background-color: #393431;}*/
.city{position:absolute;bottom:6%;right:5%;z-index:1;}
.city img{width: auto;height: auto;max-width: 100%;max-height: 100%;}



.header .banner{
animation: Topcolor 12s infinite ;
-moz-animation: Topcolor 12s  ;	/* Firefox */
-webkit-animation: Topcolor 12s infinite ;	/* Safari 和 Chrome */
-o-animation: Topcolor 12s infinite;	/* Opera */ 
}

@keyframes Topcolor
{
0%   {background-color:rgba(12,177,207,0); }
34%  {background-color:rgba(0,255,153,0.35); }
68%  {background-color:rgba(0,102,204,0.15);  }
100% {background-color:rgba(12,177,207,0);  }/*filter:alpha(opacity=0);opacity:0;-moz-opacity:0;-khtml-opacity:0;*/
}

@-moz-keyframes Topcolor /* Firefox */
{
0%   {background-color:rgba(12,177,207,0); }
34%  {background-color:rgba(0,255,153,0.35); }
68%  {background-color:rgba(0,102,204,0.15);  }
100% {background-color:rgba(12,177,207,0);  }
}

@-webkit-keyframes Topcolor /* Safari 和 Chrome */
{
0%   {background-color:rgba(12,177,207,0); }
34%  {background-color:rgba(0,255,153,0.35); }
68%  {background-color:rgba(0,102,204,0.15);  }
100% {background-color:rgba(12,177,207,0);  }
}

@-o-keyframes Topcolor /* Opera */
{
0%   {background-color:rgba(12,177,207,0); }
34%  {background-color:rgba(0,255,153,0.35); }
68%  {background-color:rgba(0,102,204,0.15);  }
100% {background-color:rgba(12,177,207,0);  }
}



.triangle{position:relative;background-color:#0cb1cf;   }
.triangle .caret-sm-b{left:50%;margin-left:-6px;}
@media (max-width: 767px){
	.header .triangle{padding-top:20px;}
	.header .banner img{display:block;margin:0 auto 20px;}
}
.container{position:relative;}
.container .top{max-width:1012px;margin:60px auto 70px;background:url(../img/about.png) no-repeat;color:#66ccff;text-align: center;background-size:contain;}
.container .top strong{display:block;margin:0 auto 10px;color:#09c;font-size:26px;font-size:2.6rem;font-family:"Candara";letter-spacing: -1px;word-spacing: 10px;}
.case{overflow:hidden;}
.case a{display:block;height:100%;}
.case img{display:block;width:100%;height:auto;
	-webkit-transition:2s cubic-bezier(0.19, 1, 0.22, 1);
	-ms-transition:2s cubic-bezier(0.19, 1, 0.22, 1);
	transition:2s cubic-bezier(0.19, 1, 0.22, 1);
}
.case .info{position:absolute;z-index:2;left:0;top:0;opacity:0;width:100%;height:100%;padding:12% 10%;color:#fff;
	-webkit-transition:2s cubic-bezier(0.19, 1, 0.22, 1);
	-ms-transition:2s cubic-bezier(0.19, 1, 0.22, 1);
	transition:2s cubic-bezier(0.19, 1, 0.22, 1);
}
.case .info h2{position:relative;margin-bottom:5%;font-size: 16px;font-size:1.6rem;line-height: 60px;}
.case .info h2:after{position:absolute;left:1%;bottom:0;display:block;content:"";width:60px;height:4px;background-color:#fff;}
.case .info p{padding-left:1%;font-size: 20px;font-size:2rem;line-height:28px;}
.case a:hover img{
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);}
.case a:hover .info{opacity:1;}
@media (max-width: 767px){
	.container .top{margin:30px auto 35px;font-size: 12px;font-size:1.2rem;}
	.container .top strong{margin-bottom: 5px;font-size:16px;font-size:1.6rem;}
	.case .info{padding:5% 8%;}
	.case .info p{font-size:16px;font-size:1.6rem;line-height: 1.2}
}

/*personal information*/
.resume{position:relative;top:0;width:100%;padding-top:36px;padding-bottom:40px;line-height:1.4;}
.resume:before{position: absolute;left:0;top:0;z-index:-1;display:block;content:"";width:50%;height:100%;background-color:#09c;}
.resume:after{position: absolute;right:50%;bottom:-16px;display:block;content:"";width:0;height:0;border-width:8px;border-style:solid;border-color:#09c #09c transparent transparent;}
.resume .per-info{position:relative;left:50%;width:320px;margin-left:-230px;text-align:right;}
.resume .per-info .infomation{float:left;margin-right:18px;}
.resume .per-info .avatar{display:block;width:98px;height:98px;border:7px solid #fff;border-radius:100%;}
.resume .per-info h1{margin-bottom:5px;color:#fff;font-size:18px;font-size:1.8rem;}
.resume .per-info p{color:#9cf;font-size:14px;font-size:1.4rem;}
.resume .skills{width:546px;margin:74px auto 0;}
.resume .skills img{width: 100%;}
.resume .experience{max-height:1680px;margin-top:100px;}
.resume .experience .cat{position:relative;width:50%;margin-top: -40px;}
.resume .cat.left{padding-right:36px;text-align: right;}
.resume .cat h3{margin-bottom:10px;color:#fff;font-size:24px;font-size:2.4rem;}
.resume .cat p{color:#6cf;font-size:18px;font-size:1.8rem;line-height:24px;}
.resume .cat p:first-of-type{margin-bottom:3px;color:#9cf;}
.resume .cat.right{float:right;padding-left:36px;}
.resume .cat.right h3{color:#333;}
.resume .cat.right p{color:#666;}
.resume .cat.right p:first-of-type{color:#999;}
.resume .cat .caret-xs-l{right:0;}
.resume .cat .caret-xs-r{left:0;}
@media (max-width: 767px){
	.resume:before{width:100%;}
	.resume .per-info{position: static;margin:0 auto;}
	.resume .skills{width: 100%;}
	.resume .experience{margin-top: 30px;}
	.resume .experience .cat{width:100%;margin-top:20px;}
	.resume .cat.left{padding-right:10px;}
	.resume .cat.right{float:none;padding-left:10px;}
	.resume .cat.right h3{color:#fff;font-size:20px;font-size:2rem;}
    .resume .cat.right p{color:#6cf;font-size:16px;font-size:1.6rem;}
    .resume .cat.right p:first-of-type{color:#9cf;}
	.resume .cat .caret-xs-r{border-left-color:#fff;}
}
/*personal contact*/
.contact{padding:15% 8%;}
.contact .data{position:relative;display:inline-block;font-size: 44px;font-size:4.4rem;vertical-align:middle;letter-spacing: -1px;}
.contact.left{text-align:right;}
.contact.left .icon-tel{position:absolute;right:-50px;top:-60px;display:block;width:50px;height:50px;background:url(../img/icon.png) no-repeat  -284px -2px;}
.contact.right{text-align:left;background-color: #0cc;color:#fff;}
.contact.right:before{position:absolute;left:-45px;top:50%;display:block;content:"";width:90px;height:90px;margin-top:-45px;background: url(../img/icon.png) no-repeat -192px -2px;}
.contact.right:after{    position: absolute;
    left:0;
    bottom: -16px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #0cc transparent transparent #0cc;}
.contact.right .icon-mail{position:absolute;right:-50px;top:-50px;display:block;width:66px;height:48px;background:url(../img/icon.png) no-repeat -124px -2px;}
@media(max-width: 767px){
	.contact .data{font-size:36px;font-size:3.6rem;}
	.contact.left{text-align: center;}
	.contact.right:before{display:none;}
}
/*personal rahmen*/
.rahmen{padding:70px 0;background-color: #cff;}
.rahmen .rahment-wrap{border-top:2px dotted #9cc;}
.rahmen ul{position: relative;max-width:1680px;height: 460px;margin:0 auto;padding:0 75px;white-space: nowrap;overflow: hidden;}
.rahmen li{position: relative;z-index:2;display:inline-block;width:230px;margin:0 10px;color:#9cc;vertical-align: top;}
.rahmen li.on{color:#09c;}
.rahmen li.on:after{background-color:#09c;}
.rahmen li:before{position: absolute;z-index:-1;left:50%;top:0;display: block;content: "";width:1px;height: 165px;background-color: #9cc;}
.rahmen li:after{position: absolute;left:50%;top:-6px;display: block;content: "";width:14px;height: 14px;margin-left:-7px;background-color:#9cc;border-radius:100%;}
.rahmen li .year{display:block;width:82px;height:32px;background-color:#cff;font-size:24px;font-size:2.4rem;font-style:italic;text-align: center;line-height:1.2;}
.rahmen li .year sub{font-size: 18px;}
.rahmen li:nth-child(odd) .year{margin:60px auto;}
.rahmen li:nth-child(even) .year{margin:20px auto;}
.rahmen li:nth-child(odd) .rect-wrap{
	-webkit-transform:rotate(6deg);
	-ms-transform:rotate(6deg);
	transform:rotate(6deg);
}
.rahmen li:nth-child(even) .rect-wrap{
	-webkit-transform:rotate(-12deg);
	-ms-transform:rotate(-12deg);
	transform:rotate(-12deg);
}
.rahmen .rect img{width:100%;height:auto;}
.rahmen .rect{width: 190px;height: 230px;padding:10px;background-color: #fff;border:1px solid #eee;box-shadow: 0 4px 4px rgba(0,0,0,.2);}
.rahmen .rect-pic{margin-top:-230px;
	-webkit-transform:rotate(8deg);
	-ms-transform:rotate(8deg);
	transform:rotate(8deg);
}
.rahmen li a:hover img{
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation:rotateImg .5s ease;
	animation:rotateImg .5s ease;}
/*rotate animation*/
@-webkit-keyframes rotateImg {
	25% {
		-webkit-transform:rotate(-16deg);
		transform:rotate(-16deg);
	}
	50% {
		-webkit-transform:rotate(16deg);
		transform:rotate(16deg);
	}
	75% {
		-webkit-transform:rotate(-12deg);
		transform:rotate(-12deg);
	}
	90% {
		-webkit-transform:rotate(12deg);
		transform:rotate(12deg);
	}
}
@-moz-keyframes rotateImg {
	25% {
		-webkit-transform:rotate(-16deg);
		transform:rotate(-16deg);
	}
	50% {
		-webkit-transform:rotate(16deg);
		transform:rotate(16deg);
	}
	75% {
		-webkit-transform:rotate(-12deg);
		transform:rotate(-12deg);
	}
	90% {
		-webkit-transform:rotate(12deg);
		transform:rotate(12deg);
	}
}

@-o-keyframes rotateImg {
	25% {
		-webkit-transform:rotate(-16deg);
		transform:rotate(-16deg);
	}
	50% {
		-webkit-transform:rotate(16deg);
		transform:rotate(16deg);
	}
	75% {
		-webkit-transform:rotate(-12deg);
		transform:rotate(-12deg);
	}
	90% {
		-webkit-transform:rotate(12deg);
		-ms-transform:rotate(12deg);
		transform:rotate(12deg);
	}
}
@keyframes rotateImg {
	25% {
		-webkit-transform:rotate(-16deg);
		transform:rotate(-16deg);
	}
	50% {
		-webkit-transform:rotate(16deg);
		transform:rotate(16deg);
	}
	75% {
		-webkit-transform:rotate(-12deg);
		transform:rotate(-12deg);
	}
	90% {
		-webkit-transform:rotate(12deg);
		transform:rotate(12deg);
	}
}

.footer{padding:50px 0 27px;background-color:#302614;text-align: center;color:#fff;font-size:12px;font-size:1.2rem;font-style: italic;}
.footer .center{width: 80px;height: 80px;margin:0 auto 30px;padding:15px 10px;background-color:#3a301f;border-radius: 100%;}
.footer .center a{display:inline-block;width: 100%;height:100%;background:url(../img/logo-white.png) no-repeat center;}
.footer .center a:hover{background:url(../img/logo-blue.png) no-repeat center;}

.nav-aside a{display:inline-block;width: 46px;height:46px;background-image: url(../img/icon.png);}
#no1{background-position:-47px -142px;}
#no2{background-position:-47px -236px;}
#no3{background-position:-47px -48px;}
#no4{background-position:-47px -95px;}
#no5{background-position:-47px -189px;}
#no1:hover,#no1.on{background-position:-1px -142px;}
#no2:hover,#no2.on{background-position:0 -236px;}
#no3:hover,#no3.on{background-position:-1px -48px;}
#no4:hover,#no4.on{background-position:-1px -95px;}
#no5:hover,#no5.on{background-position:-1px -189px;}

.nav-aside{position:fixed;right:0.5%;top:50%;z-index:3;width:46px;margin-top:-157px;}
.nav-aside .icon,#no1,#no2,#no3,#no4,#no5{visibility:visible;margin-bottom:14px;}


.works{min-height: 800px;margin-bottom:20%;}
.works-bar{background-color: #393431;}
.works-bar .wrap{position:relative;max-width: 1808px;margin: 0 auto;padding:80px 0 25px 214px;}
.works-bar .item li{display:none;}
.works-bar .item li.on{display:block;}
.works-bar .item .item-icon{float:left;margin-right:30px;}
.works-bar .item h2{position:relative;padding-top:8px;color:#fff;font-size: 24px;font-size:2.4rem;}
.works-bar .item i.line{display:inline-block;width: 60px;height: 4px;margin:18px 0 28px;background-color: #fff;}
.works-bar .item p{color:#ccc;line-height: 26px;}
.works-bar .item p a{color:#fff;}
.works-bar .item p a:hover{color:#09c;}
.works-bar a.control{/*position:absolute;bottom:28px;*/margin:0 0.5%;display: block;width: 64px;height: 64px;background-image: url(../img/icon.png);}
.works-bar a:hover{opacity:.6;}
.works-bar a.control.prev{position:fixed;left:0;top:50%;background-position: -201px -95px;}
.works-bar a.control.next{position:fixed;right:0;top:50%;background-position: -268px -95px;}

.works-cont{max-width: 1920px;margin:0 auto;padding:8% 0 18%;}
.works-cont ul{display:none;margin:0 auto;color:#fff;overflow:hidden;}
.works-cont ul.on{display:block;padding:5% 5%;}
.works-cont li{float:left;width:50%;padding:0 0.5% 1%;min-height:20px;}
.sub li{width:100%;}
.works-cont li img{display:block; width:auto;height:auto;max-width:100%;max-height:100%;margin:0 auto;}

.more{width:280px;margin:0 auto;padding:64% 0 4% 0; }
.more a{display:block;width:280px;height:50px;padding:0 0;margin:0 auto;background:url(../img/more.png) no-repeat bottom;}
.more a:hover,.more a:visited{ background:#09c url(../img/more.png) no-repeat top;}
.ccolor1,.ccolor7,.ccolor9,.ccolor5{background:#12333f;}.ccolor3,.ccolor12{background:#451977}.ccolor4,.ccolor8{background:#7a1a2c;}.ccolor6,.ccolor10{background:#332d2a;}.ccolor2,.ccolor11{background:#4b292d;}


@media(max-width: 767px){
	.works-bar .wrap{padding:0 64px 25px;}
	.works-bar .item .item-icon{float:none;display: block;margin-bottom:10px;text-align: center;}
	.works-cont ul{margin-right: 0;}
	.works-cont li{width: 100%;margin-right: 0;}
	.more{padding:26% 0 4% 0;}
	
}
